body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: #8CB9BD;
}
header { 
	background-color: #46812a; 
	color: #fff; 
	text-align: center; 
	padding: 1rem 0; 
} 

nav ul { 
	list-style: none; 
	display: flex; 
	justify-content: center; 
	background-color: #746f6f; 
	padding: 0.5rem 0; 
} 

nav li { 
	margin-right: 20px; 
} 

nav a { 
	text-decoration: none; 
	color: #fff; 
	font-weight: bold; 
	transition: color 0.3s; 
} 

nav a:hover { 
	color: #ff6600; 
} 

.create{
    text-align: center;
}
.signUp{
    display: flex;
   
}
.seeker{
    border: solid 1px black;
    width: 300px;
    height: 200px;
    padding: 5%;
    margin-left: 20%;
}
.seeker a{
    border: solid 1px black;
    background-color: blue;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;

}
.seeker a:hover{
    background-color: rgb(248, 92, 7);
}
.employer{
    border: solid 1px black;
    width: 300px;
    height: 200px;
    padding: 5%;
    margin-left: 20px;

}
.seeker img{
    border: solid 1px black;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    
}
.employer a{
    border: solid 1px black;
    background-color: blue;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;

}
.employer img{
    border: solid 1px black;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    
}
.employer a:hover{
    background-color: rgb(248, 92, 7);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 5%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content {
    flex: 1;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-content h3 {
    margin-top: 0;
}

.footer-content p {
    margin-top: 10px;
}

.footer-content ul {
    list-style-type: none;
    padding: 0;
}

.footer-content ul li {
    margin-top: 5px;
}

.footer-content ul li a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-basis: 100%;
    }
}
